.venv
.vscode

notebooks
old
old_models
data
gemeni_garbage
src/data -f
__pycache__

*.log
*.png
*.csv
*.json
!league_settings.json
events.out.*
*.joblib
.DS_STORE
*.pkl
*.db
*.zip
*.txt
*.tex

mydata.txt
myactualconfig.json

extract_values.py