box==0.1.5
espn_api==0.44.1
gymnasium==1.1.1
joblib==1.4.2
keras==3.9.2
lightgbm==4.6.0
matplotlib==3.10.1
nfl_data_py==0.3.3
numpy==1.26.4
optuna==4.2.1
pandas==1.5.3
psutil==7.0.0
PyQt6==6.9.0
PyQt6_sip==13.10.0
PyYAML==6.0.2
PyYAML==6.0.2
sb3_contrib==2.6.0
scikit_learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
shap==0.47.1
stable_baselines3==2.6.0
tbparse==0.0.9
tensorflow==2.19.0
torch==2.6.0
tqdm==4.67.1
xgboost==3.0.0
